.main {
  min-height: 100vh;

  // Shadow
  &::after,
  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      transparent,
      rgba(0, 0, 0, 0.9)
    );
  }

  .sidemenu {
    z-index: 1;
    position: absolute;
    top: 50%;
    margin: 3rem;
    transform: translate3d(0, -50%, 0);

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .episodes {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    max-width: min(60rem, calc(100% - 1rem));
    height: 100%;
    max-height: 40vh;
  }

  .person {
    position: absolute;
    left: 50%;
    bottom: min(100%, 40vh);
    transform: translate3d(-50%, 15%, 0);
    transition: 1s cubic-bezier(.49,.05,.36,.98) 1s;

    mask-image: linear-gradient(to top, transparent, #000 50%);
    -webkit-mask-image: linear-gradient(to top, transparent, #000 50%);
    mask-size: 100% 200%;
  }

  &:has(.episodes:hover) {
    .person {
      transform:
        translate3d(calc(-50% + 200% * var(--x) - 100%), 80%, 0)
        scale(1.3)
      ;
      mask-size: 100% 100%;
      transition: 2s cubic-bezier(.14,.54,.42,.87);
    }
  }
}