$one: calc(5vw + 1vh);

.container {
  $x1: calc(min(var(--x, 0), .5) * 2 - 1);
  $x2: calc((max(var(--x, 0), .5) - .5) * 2);
  $y: var(--y);

  z-index: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;

  .images {
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
    width: 120%;
    height: 100%;

    .image {
      $movement: 8%;
      $image1X: calc($movement * $x1 + $movement / 2);
      $image2X: calc($movement * $x2 + $movement / 2);

      position: relative;
      height: calc(100% + $one * 2);
      width: 100%;
      overflow: hidden;
      transform: skewX(-5deg);
      transition: .3s cubic-bezier(.17,.67,.52,.91);
      filter: grayscale(100%);
      cursor: pointer;

      &:focus {
        width: 200%;
        filter: grayscale(0%);
        cursor: default;
      }

      &:hover {
        filter: grayscale(0%);
      }

      img {
        transition: 3s cubic-bezier(.17,.67,.52,.91);
        object-fit: cover;
        user-select: none;
        -webkit-user-drag: none;
      }

      &:first-child {
        margin-right: -.2rem;
        top: calc($one * $y - $one * 2);

        img {
          object-position: calc(30% - $image1X) center;
        }
      }

      &:last-child {
        margin-left: -.2rem;
        top: calc($one * $y * -1 - $one);

        img {
          object-position: calc(75% - $image2X) center;
        }
      }
    }
  }
}